<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<config>
    <modules>
        <Packt_Helloworld>
        	<version>0.0.2</version>        	
        </Packt_Helloworld>
    </modules>  
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Packt_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <helloworld>
                    <file>helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>
        <translate>
            <modules>
                <Packt_Helloworld>
                    <files>
                        <default>Packt_Helloworld.csv</default>
                    </files>
                </Packt_Helloworld>
            </modules>
        </translate>
    </frontend>    
    <global>
    	<!--Regestering a block-->
    	<blocks>
    		<helloworld>
    			<class>Packt_Helloworld_Block</class>
    		</helloworld>
    	</blocks>
    	<!--Regestering a Helper-->    
    	<helpers>
    		<helloworld>
    			<class>Packt_Helloworld_Helper</class>
    		</helloworld>
    	</helpers>    
     	<!--Regestering a Model-->    
    	<models>
    		<helloworld>
    			<class>Packt_Helloworld_Model</class>
                <!-- Linking the normal model with resource model -->
                <resourceModel>helloworld_resource</resourceModel>
    		</helloworld>
            <!-- Overriding the Core class -->
            <catalog>
                <rewrite>
                    <product>Packt_Helloworld_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
            <!-- Registering the resource model, it is used to connect entities to the database -->
            <helloworld_resource>
                <class>Packt_Helloworld_Model_Resource</class>
                <!-- Creating a flat table model -->
                <entities>
                    <subscription>
                        <table>helloworld_subscription</table>
                    </subscription>
                </entities>
            </helloworld_resource>
    	</models> 
        <!-- Registering read and write connection -->
        <resources>
            <connection>
                    <use>core_write</use>
            </connection>
            <connection>
                    <use>core_read</use>
            </connection>
            <!-- Installing and upgrading scripts, demo to add an attribute to all products -->
            <helloworld_setup>
                <setup>
                    <module>Packt_Helloworld</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>                
                <connection>
                    <use>core_setup</use>                    
                </connection>
            </helloworld_setup>
        </resources>
    </global>     
</config>